body {
    background-color: #f8f8f8 !important;
}

.login-card {
    width: 380px;
    border-radius: 10px;
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
}

.input-warning span {
    border-color: red;
}

.input-warning input {
    border-color: red;
}

.input-warning input:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    outline: none;
}

.input-warning i {
    color: red;
}

.input-warning input::placeholder {
    color: red; /* Change placeholder text color */
    opacity: 1; /* Make it fully opaque (default is 0.5 in some browsers) */
}

.toast-img{
    width: 50px;
}